.gameWrap {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.gameBlock {
    width: 1000px;
    height: 600px;

    background-color: #545F7D;

    display: flex;
    align-items: center;
    justify-content: space-between;
}